{% extends "base.html" %}
{% block breadcrumb %} 
出入更新
{% endblock %}

{% block main %} 
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
	<div class="col-sm-10">
	    <div class="ibox float-e-margins">
		<div class="ibox-title">
		    <h5>个人出入信息</h5>
		<div class="ibox-tools">
			<a class="collapse-link">
			    <i class="fa fa-chevron-up"></i>
			</a>
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			    <i class="fa fa-wrench"></i>
			</a>
			<a class="close-link">
			    <i class="fa fa-times"></i>
			</a>
        </div>
       </div>   
	<div class="ibox-content">  
    <form  id="updateForm" class="form-horizontal">
		<input id='id' type='hidden' name='id' value= {{idc.id}} readonly='true'>

	    <div class='form-group'>
                <label for="name" class="col-sm-3 control-label">姓名<span class="red-fonts">*</span></label>
                <div class="col-sm-7">
                    <label id="name" name="name" value={{idc.name}} type="text" class="form-control" >{{idc.name}}</label>
                </div>
	    </div> <!--name-->
	    <div class="hr-line-dashed"></div>
	    <div class='form-group'>
                <label for="name_cn" class="col-sm-3 control-label">出门时间</label>
                <div class="col-sm-7">
                    <label id="start_time" name="name_cn" value={{idc.start_time}} type="datetime" class="form-control">{{idc.start_time}}</label>
                </div>
	    </div> <!--name_cn-->
	    <div class="hr-line-dashed"></div><!--
	    <div class='form-group'>
                <label for="address" class="col-sm-3 control-label">回来时间</label>
                <div class="col-sm-7">
                    <input id="stop_time" name="stop_time" value={{idc.stop_time}} type="datetime" class="form-control">
                    
                </div>
	    </div>
            -->
	    <div class="hr-line-dashed"></div>
        <div class="form-group">
           <div class="col-sm-6 col-sm-offset-2"> 
                    <button type="button" class="btn btn-primary update-sure">确认</button>
                    <button type="button" class="btn btn-default update-cancel">取消</button>
            </div>
       </div> <!--button-->
	</form> <!--form-->
 </div> <!--ibox-content-->
</div>  <!---->
</div><!---->

<script>

$(".update-sure").click(function(){
	$.post("/idcupdate",$("#updateForm").serialize(),function(data){
	    console.log(data)
	    data=JSON.parse(data);
	    if(data["code"] == 0){
		swal({
		    title:'Congratulation',
		    text:data['result'],
		    type:'success',
		    confirmButtonText:'确定'
		    },function(){
			location.href='/idc'
		    })
	    }else{
		swal('Error',data['errmsg'],'error')
	    }
	})
    return false
})
</script>
{% endblock %}
